<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <h3 class="card-title" style="text-align: left; font-size: 35px;">
                              <small>¿Crees que tienes Covid19?</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                          <p class="card-category" style="font-size:15px">Indica los síntomas y te diremos si es posible que lo tengas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>